body{
    text-align:center;
    background-color: rgb(rgb(215, 165, 104), green, blue);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
button{
    background-color:white;
    border-radius: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}
